@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    padding: 10px;
}



.capsule {
    padding: 20px;
    position: relative;
    margin: 20px auto;
    margin-bottom:0px; 
    border: 2px solid tomato;
    border-left: 20px solid tomato;
    border-right: 20px solid tomato;
    justify-content: space-evenly;
    z-index: 0;
    min-height: 100px;
    background: navy;

}

.insidecontainer {
    border-radius: 10px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    margin: 0 auto;
    min-width: 50%;
    text-align: center;
}

.capsule-contents {
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid tomato;
    background: rgb(230, 230, 230);
    position: relative;
    z-index: 10;
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    overflow: hidden;
    display: none;
}

.contents-container {
    background: rgb(230, 230, 230, .5);
    padding: 20px;
}

.textcontainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a h1 {
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: Tomato;
    letter-spacing: 4px;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    padding: -5px;
    border-radius: 50px;
    
}




.textcontainer p {
    font-size: .9rem;
    line-height: .9rem;
    color: white;
}

header {
    margin: 20px;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }



h3 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;   
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;

}

.textcontainer .insidecontainer p {
    color: white;
}



p {
    padding-top: 10px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

input, select, textarea {
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 7px;
    min-width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

form {
    padding: 25px;
}

img {
    max-height: 250px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}


.capsulebutton {
    padding: 0px;
    background-color: none;
}

.enter-button {
    margin: 0 auto
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.warning {
    color: tomato;
}



.explainer {
    color: white;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 20px;
    text-align: center;
}

.show {
    display: block;
    padding: 0px;
}

.opencapsule {
    margin:0 auto;
    color: tomato;
    background-color: navy;
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    line-height: .8rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 0;
    border: 2px solid tomato;
}

.opencapsule:disabled {
    cursor: auto;
}

.addcapsules {
    background-color: rgb(230, 230, 230, .9);
    padding-right: 15px;
}

.makered {
    background-color: navy;
    color: tomato;}

.makeblue {
    color: navy;
    background-color: tomato;
}

.opentext {
    font-size: .8rem;
    line-height: 1rem;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.insidecontainer {
    color: white;
}

.textcontainer p {
    color: tomato;
}

#submit, #discard, #delete, .enter-button, #addnew {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: 0px;
    border-radius: 10px;
    background: tomato;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

#addnew {
    background: navy;
    border: 2px solid tomato;
}


.addnewcontainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#submit:disabled {
    background: white;
    color: darkgray;
    cursor: default;
}

html {
    background: rgb(10,10,80);
    background: linear-gradient(90deg, rgba(10,10,80,1) 0%, rgba(0, 0, 65,1) 35%, rgba(10,10,80,1) 100%);
}

.imagecontainer {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.loader {
    border: 8px solid white; 
    border-top: 8px solid Tomato; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 20px;
    display: inline-block;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .starheader {
    font-size: 2rem;
    padding-bottom: 5px;
}


@media only screen and (min-width:500px){
    .capsule{
        border-left: 40px solid tomato;
        border-right: 40px solid tomato;
        border-radius: 100px;
    }
  }


@media only screen and (min-width: 700px){


main {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
    min-height: 400px;

}

.capsule-contents {
    margin-left: 75px;
    margin-right: 75px;

}

.capsule {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 40px;
}



a h1 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 6px;
}

img {
    max-height: 400px;
}

.imagecontainer {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.textcontainer {
    margin-left: 30px;
    margin-right: 30px;
}

.addcapsules {
    border: 1px solid tomato;
}


}